* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* .App {
  font-family: "Poppins", sans-serif;
}

* .App .navbar {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #ebebc7;
}

* .App .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #946b45;
}

* .App .navbar .logo span {
  font-size: 25px;
  margin-right: 10px;
}

* .App .navbar .logo .fas {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 27px;
}

* .App .navbar .menu span {
  color: #946b45;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

* .App .navbar .menu span:hover {
  text-decoration: underline;
}

* .App .navbar .menu_right i {
  color: #946b45;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

* .App .home {
  height: 92vh;
  background: url(../image/coffee_home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  position: relative;
}

* .App .home .header {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

* .App .home .header .text {
  color: beige;
  font-size: 70px;
  line-height: 1.2em;
}

* .App .home .header button {
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: none;
  background-color: #946b45;
  color: beige;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

* .App .home .header button:hover {
  background-color: #cbb595;
  color: #946b45;
}

* .App .home .contact_form {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 380px;
  height: 400px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-animation: fadeIn 0.4s linear;
          animation: fadeIn 0.4s linear;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

* .App .home .contact_form .login {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadeLogin 0.6s linear;
          animation: fadeLogin 0.6s linear;
}

@-webkit-keyframes fadeLogin {
  0% {
    opacity: 0;
  }
}

@keyframes fadeLogin {
  0% {
    opacity: 0;
  }
}

* .App .home .contact_form .login .login_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .App .home .contact_form .login .login_header .login_title {
  font-weight: 200;
}

* .App .home .contact_form .login .login_header .fa-times {
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
}

* .App .home .contact_form .login .login_bottom .login_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* .App .home .contact_form .login .login_bottom .login_data .login_email input,
* .App .home .contact_form .login .login_bottom .login_data .login_pass input {
  width: 100%;
  border: none;
  font-size: 17px;
  padding: 8px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

* .App .home .contact_form .login .login_bottom .login_data .login_email input:focus,
* .App .home .contact_form .login .login_bottom .login_data .login_pass input:focus {
  outline: none;
}

* .App .home .contact_form .login .login_bottom .login_data .login_pass {
  position: relative;
}

* .App .home .contact_form .login .login_bottom .login_data .login_pass .far {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
}

* .App .home .contact_form .login .login_bottom .login_checkbox {
  margin-bottom: 15px;
}

* .App .home .contact_form .login .login_bottom .login_checkbox input {
  margin-right: 10px;
  width: 17px;
  height: 17px;
}

* .App .home .contact_form .login .login_bottom button {
  width: 100%;
  font-size: 18px;
  padding: 8px 0px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

* .App .home .contact_form .login .login_bottom button:hover {
  background-color: lightgray;
}

* .App .home .contact_form .login .login_bottom .login_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #946b45;
}

* .App .home .contact_form .login .login_bottom .login_links span {
  cursor: pointer;
}

* .App .home .contact_form .login .login_bottom .login_links span:hover {
  text-decoration: underline;
}

* .App .home .contact_form .signup {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadeSignup 0.6s linear;
          animation: fadeSignup 0.6s linear;
}

@-webkit-keyframes fadeSignup {
  0% {
    opacity: 0;
  }
}

@keyframes fadeSignup {
  0% {
    opacity: 0;
  }
}

* .App .home .contact_form .signup .signup_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .App .home .contact_form .signup .signup_header .signup_title {
  font-weight: 200;
}

* .App .home .contact_form .signup .signup_header .fa-times {
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
}

* .App .home .contact_form .signup .signup_bottom .signup_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* .App .home .contact_form .signup .signup_bottom .signup_data .name_signup input,
* .App .home .contact_form .signup .signup_bottom .signup_data .email_signup input,
* .App .home .contact_form .signup .signup_bottom .signup_data .pass_signup input,
* .App .home .contact_form .signup .signup_bottom .signup_data .confirm_signup input {
  width: 100%;
  border: none;
  font-size: 17px;
  padding: 8px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

* .App .home .contact_form .signup .signup_bottom .signup_data .name_signup input:focus,
* .App .home .contact_form .signup .signup_bottom .signup_data .email_signup input:focus,
* .App .home .contact_form .signup .signup_bottom .signup_data .pass_signup input:focus,
* .App .home .contact_form .signup .signup_bottom .signup_data .confirm_signup input:focus {
  outline: none;
}

* .App .home .contact_form .signup .signup_bottom .signup_data .confirm_signup {
  position: relative;
}

* .App .home .contact_form .signup .signup_bottom .signup_data .confirm_signup .far {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  cursor: pointer;
}

* .App .home .contact_form .signup .signup_bottom button {
  width: 100%;
  font-size: 18px;
  padding: 8px 0px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

* .App .home .contact_form .signup .signup_bottom button:hover {
  background-color: lightgray;
}

* .App .home .contact_form .signup .signup_bottom .signup_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #946b45;
}

* .App .home .contact_form .signup .signup_bottom .signup_links span {
  cursor: pointer;
}

* .App .home .contact_form .signup .signup_bottom .signup_links span:hover {
  text-decoration: underline;
}

* .App .home .inactive {
  display: none;
}

* .App .products {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* .App .products .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background-color: #e9e9e9;
  cursor: pointer;
  margin: 10px;
  overflow: hidden;
}

* .App .products .item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* .App .products .item img {
  width: 40%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: 40px;
}

* .App .products .item .info {
  position: absolute;
  bottom: 7px;
  text-align: center;
}

* .App .products .item .info .name {
  font-weight: 200;
}

* .App .products .item .info .price .current {
  font-size: 20px;
  margin-right: 5px;
}

* .App .products .item .info .price .old {
  text-decoration: line-through;
}

* .App .products .item .info .stars i {
  color: gold;
}

* .App .products .item:hover .events {
  right: 20px;
}

* .App .products .item .events {
  position: absolute;
  right: -45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

* .App .products .item .events i {
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  margin: 5px 0px;
  font-size: 22px;
  cursor: pointer;
  z-index: 2;
}

* .App .products .item .events i:hover {
  background-color: #946b45;
  color: beige;
}
/*# sourceMappingURL=App.css.map */