* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background: #946b45;
  border-radius: 10px;
}

* .App {
  font-family: "Poppins", sans-serif;
}

* .App .navbar {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #ebebc7;
}

* .App .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #946b45;
}

* .App .navbar .logo span {
  font-size: 25px;
  margin-right: 10px;
}

* .App .navbar .logo .fas {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 27px;
}

* .App .navbar .menu a {
  color: #946b45;
  font-size: 18px;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
}

* .App .navbar .menu a:hover {
  text-decoration: underline;
}

* .App .navbar .menu_right i {
  color: #946b45;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

* .App .navbar .menu_right i:hover {
  color: black;
}

* .App .home {
  height: 92vh;
  background: url(../image/coffee_home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  position: relative;
}

* .App .home .header {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

* .App .home .header .text {
  color: beige;
  font-size: 70px;
  line-height: 1.2em;
}

* .App .home .header a {
  text-decoration: none;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  border: none;
  background-color: #946b45;
  color: beige;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

* .App .home .header a:hover {
  background-color: #cbb595;
  color: #946b45;
}

* .App .home .contact_form {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 380px;
  height: 400px;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-animation: fadeIn 0.4s linear;
          animation: fadeIn 0.4s linear;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

* .App .home .contact_form .login {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadeLogin 0.6s linear;
          animation: fadeLogin 0.6s linear;
}

@-webkit-keyframes fadeLogin {
  0% {
    opacity: 0;
  }
}

@keyframes fadeLogin {
  0% {
    opacity: 0;
  }
}

* .App .home .contact_form .login .login_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .App .home .contact_form .login .login_header .login_title {
  font-weight: 200;
}

* .App .home .contact_form .login .login_header .fa-times {
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
}

* .App .home .contact_form .login .login_bottom .login_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* .App .home .contact_form .login .login_bottom .login_data .login_email input,
* .App .home .contact_form .login .login_bottom .login_data .login_pass input {
  width: 100%;
  border: none;
  font-size: 17px;
  padding: 8px 0px 2px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

* .App .home .contact_form .login .login_bottom .login_data .login_email input:focus,
* .App .home .contact_form .login .login_bottom .login_data .login_pass input:focus {
  outline: none;
}

* .App .home .contact_form .login .login_bottom .login_data .login_email .login_error,
* .App .home .contact_form .login .login_bottom .login_data .login_pass .login_error {
  font-size: 13px;
  color: red;
  margin-bottom: 10px;
}

* .App .home .contact_form .login .login_bottom .login_data .login_pass {
  position: relative;
}

* .App .home .contact_form .login .login_bottom .login_data .login_pass .far {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
}

* .App .home .contact_form .login .login_bottom .login_checkbox {
  margin-bottom: 15px;
}

* .App .home .contact_form .login .login_bottom .login_checkbox input {
  margin-right: 10px;
  width: 17px;
  height: 17px;
}

* .App .home .contact_form .login .login_bottom button {
  width: 100%;
  font-size: 18px;
  padding: 8px 0px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

* .App .home .contact_form .login .login_bottom button:hover {
  background-color: lightgray;
}

* .App .home .contact_form .login .login_bottom .login_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #946b45;
}

* .App .home .contact_form .login .login_bottom .login_links span {
  cursor: pointer;
}

* .App .home .contact_form .login .login_bottom .login_links span:hover {
  text-decoration: underline;
}

* .App .home .contact_form .signup {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadeSignup 0.6s linear;
          animation: fadeSignup 0.6s linear;
}

@-webkit-keyframes fadeSignup {
  0% {
    opacity: 0;
  }
}

@keyframes fadeSignup {
  0% {
    opacity: 0;
  }
}

* .App .home .contact_form .signup .signup_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .App .home .contact_form .signup .signup_header .signup_title {
  font-weight: 200;
}

* .App .home .contact_form .signup .signup_header .fa-times {
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
}

* .App .home .contact_form .signup .signup_bottom .signup_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* .App .home .contact_form .signup .signup_bottom .signup_data .name_signup input,
* .App .home .contact_form .signup .signup_bottom .signup_data .email_signup input,
* .App .home .contact_form .signup .signup_bottom .signup_data .pass_signup input,
* .App .home .contact_form .signup .signup_bottom .signup_data .confirm_signup input {
  width: 100%;
  border: none;
  font-size: 17px;
  padding: 8px 0px 2px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

* .App .home .contact_form .signup .signup_bottom .signup_data .name_signup input:focus,
* .App .home .contact_form .signup .signup_bottom .signup_data .email_signup input:focus,
* .App .home .contact_form .signup .signup_bottom .signup_data .pass_signup input:focus,
* .App .home .contact_form .signup .signup_bottom .signup_data .confirm_signup input:focus {
  outline: none;
}

* .App .home .contact_form .signup .signup_bottom .signup_data .name_signup .signup_error,
* .App .home .contact_form .signup .signup_bottom .signup_data .email_signup .signup_error,
* .App .home .contact_form .signup .signup_bottom .signup_data .pass_signup .signup_error,
* .App .home .contact_form .signup .signup_bottom .signup_data .confirm_signup .signup_error {
  font-size: 13px;
  color: red;
  margin-bottom: 10px;
}

* .App .home .contact_form .signup .signup_bottom .signup_data .confirm_signup {
  position: relative;
}

* .App .home .contact_form .signup .signup_bottom .signup_data .confirm_signup .far {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  cursor: pointer;
}

* .App .home .contact_form .signup .signup_bottom button {
  width: 100%;
  font-size: 18px;
  padding: 8px 0px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

* .App .home .contact_form .signup .signup_bottom button:hover {
  background-color: lightgray;
}

* .App .home .contact_form .signup .signup_bottom .signup_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #946b45;
}

* .App .home .contact_form .signup .signup_bottom .signup_links span {
  cursor: pointer;
}

* .App .home .contact_form .signup .signup_bottom .signup_links span:hover {
  text-decoration: underline;
}

* .App .home .inactive {
  display: none;
}

* .App .home .fa-chevron-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  color: #946b45;
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
}

* .App .home .fa-chevron-up:hover {
  color: #b49374;
}

* .App .about {
  padding: 0px 100px;
}

* .App .about .about_title {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .App .about .about_title h1 {
  font-weight: 200;
  color: #946b45;
}

* .App .about .about_content {
  height: 85vh;
}

* .App .about .about_content .about_lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  height: 80%;
  overflow: hidden;
  background-color: #ebebc7;
}

* .App .about .about_content .about_lower .about_img {
  width: 50%;
}

* .App .about .about_content .about_lower .about_img img {
  width: 100%;
}

* .App .about .about_content .about_lower .about_info {
  width: 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* .App .about .about_content .about_lower .about_info h2 {
  font-weight: 200;
  color: #946b45;
}

* .App .about .about_content .about_lower .about_info .desc {
  text-indent: 25px;
}

* .App .about .about_content .about_lower .about_info .about_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}

* .App .about .about_content .about_lower .about_info .about_btn a {
  text-decoration: none;
  font-size: 17px;
  padding: 3px 10px;
  margin-top: 10px;
  border: none;
  background-color: #946b45;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

* .App .about .about_content .about_lower .about_info .about_btn a:hover {
  background-color: #b18b68;
}

* .App .products {
  min-height: 100vh;
  padding: 0px 100px;
}

* .App .products .products_title {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .App .products .products_title h1 {
  font-weight: 200;
  color: #946b45;
}

* .App .products .products_wrapper {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* .App .products .products_wrapper .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 350px;
  margin: 10px 0px;
  border-radius: 10px;
  background-color: #ebebc7;
  cursor: pointer;
  overflow: hidden;
}

* .App .products .products_wrapper .item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* .App .products .products_wrapper .item img {
  width: 40%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: 40px;
}

* .App .products .products_wrapper .item .info {
  position: absolute;
  bottom: 7px;
  text-align: center;
}

* .App .products .products_wrapper .item .info .name {
  font-weight: 200;
}

* .App .products .products_wrapper .item .info .price .current {
  font-size: 20px;
  margin-right: 5px;
}

* .App .products .products_wrapper .item .info .price .old {
  text-decoration: line-through;
}

* .App .products .products_wrapper .item .info .stars i {
  color: gold;
}

* .App .products .products_wrapper .item:hover .events {
  right: 20px;
}

* .App .products .products_wrapper .item .events {
  position: absolute;
  right: -45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

* .App .products .products_wrapper .item .events i {
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  margin: 5px 0px;
  font-size: 22px;
  cursor: pointer;
  z-index: 2;
}

* .App .products .products_wrapper .item .events i:hover {
  background-color: #946b45;
  color: beige;
}

* .App .popular {
  height: 100vh;
  padding: 0px 100px;
}

* .App .popular .popular_title {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* .App .popular .popular_title h1 {
  font-weight: 200;
  color: #946b45;
}

* .App .popular .popular_item_wrapper {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .App .popular .popular_item_wrapper .rec-carousel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* .App .popular .popular_item_wrapper .rec-carousel-wrapper .rec-carousel {
  background-color: #ebebc7;
  border-radius: 15px;
}

* .App .popular .popular_item_wrapper .rec-carousel-wrapper .rec-carousel button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  color: #946b45;
  background-color: transparent;
  border: none;
  font-size: 40px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

* .App .popular .popular_item_wrapper .rec-carousel-wrapper .rec-carousel button:hover {
  background-color: #ebebc7;
}

* .App .popular .popular_item_wrapper .rec-carousel-wrapper .rec-carousel .rec-slider-container .rec-carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

* .App .popular .popular_item_wrapper .rec-carousel-wrapper .rec-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .App .popular .popular_item_wrapper .rec-carousel-wrapper .rec-pagination .rec-dot {
  border: 1px solid #946b45;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 12px;
  height: 12px;
}

* .App .popular .popular_item_wrapper .rec-carousel-wrapper .rec-pagination .rec-dot_active {
  width: 14px;
  height: 14px;
  background-color: #946b45;
}

* .App .messageUs_wrapper {
  height: 100vh;
  margin: 0px 100px;
}

* .App .messageUs_wrapper .messageUs_title {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .App .messageUs_wrapper .messageUs_title h1 {
  text-align: center;
  font-weight: 200;
  color: #946b45;
}

* .App .messageUs_wrapper .messageUs_info {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  background-color: #ebebc7;
}

* .App .messageUs_wrapper .messageUs_info .map_wrapper {
  width: 50%;
  height: 100%;
}

* .App .messageUs_wrapper .messageUs_info .map_wrapper .map {
  width: 100%;
  height: 100%;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs h2 {
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
  color: #946b45;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper {
  padding: 0px 50px;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_name,
* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_email,
* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_number {
  width: 100%;
  position: relative;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_name input,
* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_email input,
* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_number input {
  background-color: #ebebc7;
  font-size: 17px;
  padding: 10px 0px 10px 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_name input:focus,
* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_email input:focus,
* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_number input:focus {
  outline: none;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_name i,
* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_email i,
* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_number i {
  position: absolute;
  top: 12px;
  z-index: 1;
  font-size: 20px;
  color: #946b45;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_textarea {
  position: relative;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_textarea textarea {
  background-color: #ebebc7;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  padding: 0px 30px;
  width: 100%;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid black;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_textarea textarea:focus {
  outline: none;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_textarea i {
  position: absolute;
  font-size: 20px;
  top: 12px;
  color: #946b45;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_now button {
  background-color: #946b45;
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

* .App .messageUs_wrapper .messageUs_info .message_inputs .inputs_wrapper .message_now button:hover {
  background-color: #a07b58;
}

* .App .footer {
  margin: 0px 100px;
}

* .App .footer .footer_upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20px;
}

* .App .footer .footer_upper .footer_div {
  width: 270px;
}

* .App .footer .footer_upper .footer_div .footer_title {
  padding: 10px 0px;
  color: #a07b58;
}

* .App .footer .footer_upper .footer_div .footer_info {
  line-height: 35px;
}

* .App .footer .footer_upper .footer_div .footer_info div {
  color: #946b45;
}

* .App .footer .footer_upper .footer_div .footer_info div span {
  margin-left: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

* .App .footer .footer_upper .footer_div .footer_info div span:hover {
  margin-left: 17px;
}

* .App .footer .footer_lower {
  border-top: 1px solid #946b45;
  text-align: center;
  padding: 20px 0px;
}

* .App .footer .footer_lower h3 {
  font-weight: 200;
  color: #946b45;
}

* .App .footer .footer_lower h3 span {
  font-weight: 700;
}
/*# sourceMappingURL=App.css.map */