* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* .App {
  font-family: "Poppins", sans-serif;
}

* .App .navbar {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #ebebc7;
}

* .App .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #946b45;
}

* .App .navbar .logo span {
  font-size: 25px;
  margin-right: 10px;
}

* .App .navbar .logo .fas {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 27px;
}

* .App .navbar .menu span {
  color: #946b45;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

* .App .navbar .menu span:hover {
  text-decoration: underline;
}

* .App .navbar .menu_right i {
  color: #946b45;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

* .App .home {
  height: 92vh;
  background: url(../image/coffee_home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

* .App .home .header {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

* .App .home .header .text {
  color: beige;
  font-size: 70px;
  line-height: 1.2em;
}

* .App .home .header button {
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: none;
  background-color: #946b45;
  color: beige;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

* .App .home .header button:hover {
  background-color: #cbb595;
  color: #946b45;
}

* .App .products {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* .App .products .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background-color: #ebebc7;
  cursor: pointer;
  margin: 10px;
  overflow: hidden;
}

* .App .products .item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* .App .products .item img {
  width: 40%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: 40px;
}

* .App .products .item .info {
  position: absolute;
  bottom: 7px;
  text-align: center;
}

* .App .products .item .info .name {
  font-weight: 200;
}

* .App .products .item .info .price .current {
  font-size: 20px;
  margin-right: 5px;
}

* .App .products .item .info .price .old {
  text-decoration: line-through;
}

* .App .products .item .info .stars i {
  color: gold;
}

* .App .products .item:hover .events {
  right: 25px;
}

* .App .products .item .events {
  position: absolute;
  right: -45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

* .App .products .item .events i {
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  margin: 5px 0px;
  font-size: 22px;
  cursor: pointer;
  z-index: 2;
}

* .App .products .item .events i:hover {
  background-color: #946b45;
  color: beige;
}
/*# sourceMappingURL=App.css.map */